<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大事件-首页</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="header">
        <a href="index.html" class="logo fl"><img src="images/logo.png" alt="logo"></a>
        <div class="search_form fl">
            <input type="text" class="search_txt" placeholder="黑洞照片">
            <button class="search_btn"><i class="fa fa-search"></i></button>
        </div>
        <div class="link_info fr">
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a><br>
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
        </div>
    </div>

    <div class="menu_con">
        <div class="menu">
            <div class="menu_collapse fl">
                <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
                <ul class="level_two">
                    <li class="up"></li>
                    <!--  -->
                </ul>
            </div>
            <ul class="left_menu fl">
                <!--  -->
            </ul>
            <ul class="right_menu fr">
                <li><a href="#">科技专题</a></li>
                <li><a href="#">财经专题</a></li>
            </ul>
        </div>
    </div>

    <div class="main_con clearfix">
        <div class="left_con">
            <ul class="focus_list">

                <!--  -->
            </ul>

            <div class="common_title">
                <h3><i class="fa fa-edit"></i> 最新资讯</h3>
                <a href="#" class="more"><i class="fa fa-angle-double-right"></i></a>
            </div>



            <!-- 最新资讯数据 -->

        </div>
        <div class="right_con">
            <div class="common_wrap">
                <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
                <ul class="content_list rank">
                    <!-- 热门排行数据 -->
                    <!-- <li><span class="first">1</span><a href="#">神奇的水滴摄影，泡泡中的世界泡泡中的世界</a></li>
                    <li><span class="second">2</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span class="third">3</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>4</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>5</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>6</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>7</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li> -->
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
                <ul class="content_list comment_list">
                    <!--这里是数据-->
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
                <ul class="content_list guanzhu_list">
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer clearfix">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
        <p>电话：0755-****888 粤ICP备*******8号</p>
    </div>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/template-web.js"></script>
    <script src="utils/config.js"></script>
    <script src="utils/category.js"></script>
    <script src="utils/article.js"></script>
    <!-- ------------------导航分类开始------------------ -->
    <script type="text/html" id="fenlei">
        {{each fenlei v}}
        <li><a href="list.html?id={{v.id}}&name={{v.name}}">{{v.name}}</a></li>
        {{/each}}
    </script>
    <script>
        category.show(function(res) {
                var str = template('fenlei', {
                    fenlei: res.data
                });
                $('.level_two').append(str);
                $('.left_menu').html(str);
            })
            // <!-- ------------------导航分类结束----------------- -->
    </script>
    <!-- --------------------------------热点图开始-------------- -->

    <script type="text/html" id="redian">
        {{each redian v k}} {{if k === 0}}
        <li class="first">
            {{else}}
            <li>
                {{/if}}
                <a href="article.html?id={{v.id}}"><img src="{{v.cover}}" alt=""></a>
                <p>{{v.title}}</p>
            </li>
            {{/each}}
    </script>
    <script>
        article.hotpic(function(res) {
            var str = template('redian', {
                redian: res.data
            });
            $('.focus_list').html(str);
        });
    </script>
    <!-- --------------------------------热点图结束------------- -->
    <!-- -----------------------最新资讯开始--------------- -->
    <script type="text/html" id="latest">
        {{each latest v}}
        <div class="common_news_list">
            <a href="article.html?id={{v.id}}" class="list_pic"><img src="{{v.cover}}" alt=""></a>
            <h4><a href="article.html?id={{v.id}}">{{v.title}}</a></h4>
            <p>{{v.intro}}
            </p>
            <div class="new_info">
                <span>标签：{{v.type}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( {{v.read}}
                    )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( {{v.comment}} )</span>
                <b>发布于 {{v.data}}</b>
            </div>
        </div>
        {{/each}}
    </script>
    <script>
        article.latest(function(res) {
            // console.log(res);
            var str = template('latest', {
                latest: res.data
            });
            $('.common_title').after(str);
        })
    </script>
    <!-- -----------------------最新资讯结束--------------- -->
    <!-- -----------------------热门排行开始--------------- -->
    <script type="text/html" id="rank">
        {{each rank v k}}{{if k === 0}}
        <li><span class="first">{{k+1}}</span> {{else if k === 1}}
            <li><span class="second">{{k+1}}</span> {{else if k === 2}}
                <li><span class="third">{{k+1}}</span> {{else}}
                    <li><span>{{k+1}}</span> {{/if}}
                        <a href="article.html?id={{v.id}}">{{v.title}}</a>
                    </li>
                    {{/each}}
    </script>
    <script>
        article.rank(function(res) {
            var str = template('rank', {
                rank: res.data
            });
            $('.rank').append(str);
        })
    </script>
    <!-- -----------------------热门排行结束--------------- -->
    <!-- -----------------------最新评论开始--------------- -->
    <script type="text/html" id="latest_comment">
        {{each arr v}}
        <li>
            <span>山</span>
            <b><em>{{v.name}}</em> {{v.dt}}</b>
            <strong>{{v.content}}</strong>
        </li>
        {{/each}}
    </script>
    <script>
        article.comment(function(res) {
            var str = template('latest_comment',{
                arr : res.data
            })
            $('.comment_list').append(str);
        })
    </script>
    <!-- -----------------------最新评论结束--------------- -->
</body>

</html>